.m-5bc4a2c6-0bc0-4418-977f-3eb9368264b8 #m-Table_1 {
  border-collapse: separate;
}
.m-5bc4a2c6-0bc0-4418-977f-3eb9368264b8 #m-Cell_1 > .valign {
  vertical-align: middle;
}
.m-5bc4a2c6-0bc0-4418-977f-3eb9368264b8 #m-Cell_3 > .valign {
  vertical-align: middle;
}
.m-5bc4a2c6-0bc0-4418-977f-3eb9368264b8 #m-Cell_2 > .valign {
  vertical-align: middle;
}
.m-5bc4a2c6-0bc0-4418-977f-3eb9368264b8 #m-Cell_4 > .valign {
  vertical-align: middle;
}