.m-7cd1e497-11b0-4c93-9e0f-d6d4c22d2961 {
  background-color: transparent;
}
.m-7cd1e497-11b0-4c93-9e0f-d6d4c22d2961 #m-line_measurement {
  position: absolute;
  top: 24px;
  left: 400px;
  width: 225px;
  height: 0px;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #000000;
}
.m-7cd1e497-11b0-4c93-9e0f-d6d4c22d2961 #m-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 399px;
  height: 98px;
  background-color: #FFFFFF;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
}