.m-c1be302c-fb05-4377-9c89-5599017bcd10 {
  background-color: transparent;
}
.m-c1be302c-fb05-4377-9c89-5599017bcd10 #m-Label_10 {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 176px;
  height: 22px;
  background-color: transparent;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 12pt;
}
.m-c1be302c-fb05-4377-9c89-5599017bcd10 #m-Label_10 .valign {
  vertical-align: middle;
}
.m-c1be302c-fb05-4377-9c89-5599017bcd10 #m-Category_1 td {
  vertical-align: top;
}
.m-c1be302c-fb05-4377-9c89-5599017bcd10 #m-Category_1 {
  position: absolute;
  top: 33px;
  left: 4px;
  padding-left: 5px;
  width: 168px;
  height: 149px;
  background-color: #FFFFFF;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: normal;
}
.m-c1be302c-fb05-4377-9c89-5599017bcd10 #m-Category_2 td {
  vertical-align: top;
}
.m-c1be302c-fb05-4377-9c89-5599017bcd10 #m-Category_2 {
  position: absolute;
  top: 58px;
  left: 238px;
  padding-left: 5px;
  width: 168px;
  height: 124px;
  background-color: #FFFFFF;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: normal;
}
.m-c1be302c-fb05-4377-9c89-5599017bcd10 #m-Button_1 {
  position: absolute;
  top: 48px;
  left: 192px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url('../../images/[Generated]%206.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  cursor: pointer;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: normal;
  line-height: 10pt;
}
.m-c1be302c-fb05-4377-9c89-5599017bcd10 #m-Button_1 .valign {
  vertical-align: middle;
}
.m-c1be302c-fb05-4377-9c89-5599017bcd10 #m-Label_11 {
  position: absolute;
  top: 83px;
  left: 193px;
  width: 31px;
  height: 22px;
  background-color: transparent;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: bold;
  line-height: 10pt;
}
.m-c1be302c-fb05-4377-9c89-5599017bcd10 #m-Label_11 .valign {
  vertical-align: middle;
}
.m-c1be302c-fb05-4377-9c89-5599017bcd10 #m-Button_2 {
  position: absolute;
  top: 122px;
  left: 192px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url('../../images/[Generated]%207.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  cursor: pointer;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: normal;
  line-height: 10pt;
}
.m-c1be302c-fb05-4377-9c89-5599017bcd10 #m-Button_2 .valign {
  vertical-align: middle;
}
.m-c1be302c-fb05-4377-9c89-5599017bcd10 #m-Label_12 {
  position: absolute;
  top: 153px;
  left: 186px;
  width: 48px;
  height: 22px;
  background-color: transparent;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: bold;
  line-height: 10pt;
}
.m-c1be302c-fb05-4377-9c89-5599017bcd10 #m-Label_12 .valign {
  vertical-align: middle;
}
.m-c1be302c-fb05-4377-9c89-5599017bcd10 #m-Input_1 {
  position: absolute;
  top: 33px;
  left: 238px;
  padding-left: 5px;
  width: 149px;
  height: 18px;
  background-color: #FFFFFF;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  cursor: text;
}
.m-c1be302c-fb05-4377-9c89-5599017bcd10 #m-Input_1 .valign {
  vertical-align: middle;
  line-height: 10pt;
}
.m-c1be302c-fb05-4377-9c89-5599017bcd10 #m-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: normal;
}
.m-c1be302c-fb05-4377-9c89-5599017bcd10 #m-img_add_feedback {
  position: absolute;
  top: 35px;
  left: 397px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}